@import url('https://fonts.googleapis.com/css?family=Lato|Pacifico|Roboto');

body{
  background-color: #F8F5F5;
  font-family: 'Lato';
}

.navbar-brand{

  font-family: 'Pacifico';
  font-size: 30px;
  color: lightcoral !important;
}

.nav-link{
  font-size: 17px;
  margin-right: 15px;
  font-family: 'Roboto';
}

.nav-link:hover{

  color: #00E8E8 !important;
}

.dropdown-item{
  font-size: 17px;
  font-family: 'Roboto';
}

.dropdown-item:hover{

  color: white !important;

}


.mar{

  margin-top: 20px;

}

/*
Login Form Styling
*/

.login{
  background: url('./images/Back1.jpg');
  background-size: cover;
  padding: 0;
  height: 150vh;
  width:100%;
}

.main-section{
  margin: 0 auto;
  padding: 0;
}

.modal-content{
  background-color: transparent;
  margin-top: 130px;
  padding: 0 18px;
  box-shadow: 0px 0px 3px #eee;
}

.user-img{

  margin-top: -50px;
  margin-bottom: 35px;

}

.user-img img{
  height: 100px;
  width: 100px;
  border-radius: 50%;
  box-shadow: 0px 0px 3px #eee;
}

.forgot{

  margin-top: 2px;
  padding: 5px 0 25px;

}


.register{
  background: linear-gradient(to bottom, rgba(35,83,138,1) 0%,rgba(167,207,223,1) 100%);
  padding: 0;
  height: 2000vh;
  width:100%;
}

.register-left{

  text-align: center;
  color: white;
  padding: 30px;
  margin-bottom: 5px;

}

.register-right{

  border: none;
  background: #f8f8f8;
  margin-top: 10px;
  border-top-left-radius: 10% 50%;
  border-bottom-left-radius: 10% 50%;
  padding: 50px;
}

.register-right h2{

  text-align: center;
  margin: 20px;
  color: #555;
}

.register-form{

  padding: 30px;

}

.register-form .btn-info{

  border-radius: 1.5rem;
}

.para-1, .card-text{

  color: rgb(128,128,128);

}

.verticalhorizontal {
  
  height:200px;
}
.card-product .img-wrap {
  border-radius: 3px 3px 0 0;
  overflow: hidden;
  position: relative;
  height: 220px;
  text-align: center;
}
.card-product .img-wrap img {
  max-height: 100%;
  max-width: 100%;
  padding:10px;
  object-fit: cover;
}

.card-product .info-wrap {
  overflow: hidden;
  padding: 15px;
  height: 120px;
  width: 100%;
  border-top: 1px solid #eee;
}
.card-product .bottom-wrap {
  margin: 20px;
  padding: 15px;
  height: 10px;
  width: 100%;
  border-top: 5px solid #eee;
}

.label-rating { margin-right:10px;
  color: #333;
  display: inline-block;
  vertical-align: middle;
}

.card-product .price-old {
  color: #999;
}


@font-face {
    font-family: SnapITC;
    src: url(snap_itc.ttf);
}
@font-face {
  font-family: Pacifico;
  src: url(Pacifico.ttf);
}

.snapitc{
    font-family: SnapITC;
}
.pacifico{
  font-family: Pacifico;
}
.preview
  .landing {
    position: relative;
    background: url('./img/showcase.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    margin-top: -24px;
    margin-bottom: -50px;
    z-index: -1;
  }
  
  .landing-inner {
    padding-top: 80px;
  }
  
  .dark-overlay {
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
    
  #colorlib{
    background-image: url('images/cover-img-1.jpg');
    padding-bottom: 16em;
    clear: both; 
  }

  .colorlib {
    background-size: cover;
    background-attachment: fixed;
    background-position: center center; }
  
  .overlay{
    padding-bottom: 9em;
    clear: both; 
  }
    
  #colorlib {
    position: relative;
    padding-top: 9em;
    margin-bottom: 9em; }
    #colorlib .overlay {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: white;
      background: -moz-linear-gradient(left, white 0%, rgba(255, 255, 255, 0) 100%);
      background: -webkit-gradient(left top, right top, color-stop(0%, white), color-stop(100%, rgba(255, 255, 255, 0)));
      background: -webkit-linear-gradient(left, white 0%, rgba(255, 255, 255, 0) 100%);
      background: -o-linear-gradient(left, white 0%, rgba(255, 255, 255, 0) 100%);
      background: -ms-linear-gradient(left, white 0%, rgba(255, 255, 255, 0) 100%);
      background: -webkit-gradient(linear, left top, right top, from(white), to(rgba(255, 255, 255, 0)));
      background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1 ); }
  
      .dropdown-menu{
        z-index: 10;

      } 
      
      .dropdown:hover .dropdown-menu{
        
        display: block;
        
      } 

      .dropdown-item:hover{
        z-index: inherit;
        display: block;
        background-color: #42bff4;
        color:white;

      }


/* cart 2 css */
.param {
  margin-bottom: 7px;
  line-height: 1.4;
}
.param-inline dt {
  display: inline-block;
}
.param dt {
  margin: 0;
  margin-right: 7px;
  font-weight: 600;
}
.param-inline dd {
  vertical-align: baseline;
  display: inline-block;
}

.param dd {
  margin: 0;
  vertical-align: baseline;
} 

.shopping-cart-wrap .price {
  color: #007bff;
  font-size: 18px;
  font-weight: bold;
  margin-right: 5px;
  display: block;
}
var {
  font-style: normal;
}

.media img {
  margin-right: 1rem;
}
.img-sm {
  width: 90px;
  max-height: 75px;
  object-fit: cover;
}
/* cart 2 css */

/*team css */
#team {
  background: #F8F5F5 !important;
}


section {
  padding: 60px 0;
}

section .section-title {
  text-align: center;
  color: #1e90ff;
  margin-bottom: 50px;
  text-transform: uppercase;
}

#team .card {
  border: none;
  background: #ffffff;
}

.image-flip:hover .backside,
.image-flip.hover .backside {
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  transform: rotateY(0deg);
  border-radius: .25rem;
}

.image-flip:hover .frontside,
.image-flip.hover .frontside {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.mainflip {
  -webkit-transition: 1s;
  -webkit-transform-style: preserve-3d;
  -ms-transition: 1s;
  -moz-transition: 1s;
  -moz-transform: perspective(1000px);
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transition: 1s;
  transform-style: preserve-3d;
  position: relative;
}

.frontside {
  position: relative;
  -webkit-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  z-index: 2;
  margin-bottom: 30px;
}

.backside {
  position: absolute;
  top: 0;
  left: 0;
  background: white;
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  -o-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
  -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
  -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
  box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
}

.frontside,
.backside {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: 1s;
  -webkit-transform-style: preserve-3d;
  -moz-transition: 1s;
  -moz-transform-style: preserve-3d;
  -o-transition: 1s;
  -o-transform-style: preserve-3d;
  -ms-transition: 1s;
  -ms-transform-style: preserve-3d;
  transition: 1s;
  transform-style: preserve-3d;
}

.frontside .card,
.backside .card {
  min-height: 312px;
}

.backside .card a {
  font-size: 18px;
  color: #007b5e !important;
}

.frontside .card .card-title,
.backside .card .card-title {
  color: #1e90ff !important;
}

.frontside .card .card-body img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}
/*team css */

/*payment*/
.payment-form{
	padding-bottom: 50px;
	font-family: 'Montserrat', sans-serif;
}

.payment-form.dark{
	background-color: #f6f6f6;
}

.payment-form .content{
	box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
	background-color: white;
}

.payment-form .block-heading{
    padding-top: 50px;
    margin-bottom: 40px;
    text-align: center;
}

.payment-form .block-heading p{
	text-align: center;
	max-width: 420px;
	margin: auto;
	opacity:0.7;
}

.payment-form.dark .block-heading p{
	opacity:0.8;
}
.payment-form .block-heading h1,
.payment-form .block-heading h2,
.payment-form .block-heading h3 {
	margin-bottom:1.2rem;
	color: #3b99e0;
}

.payment-form form{
	border-top: 2px solid #5ea4f3;
	box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
	background-color: #ffffff;
	padding: 0;
	max-width: 600px;
	margin: auto;
}

.payment-form .title{
	font-size: 1em;
	border-bottom: 1px solid rgba(0,0,0,0.1);
	margin-bottom: 0.8em;
	font-weight: 600;
	padding-bottom: 8px;
}

.payment-form .products{
	background-color: #f7fbff;
    padding: 25px;
}

.payment-form .products .item{
	margin-bottom:1em;
}

.payment-form .products .item-name{
	font-weight:600;
	font-size: 0.9em;
}

.payment-form .products .item-description{
	font-size:0.8em;
	opacity:0.6;
}

.payment-form .products .item p{
	margin-bottom:0.2em;
}

.payment-form .products .price{
	float: right;
	font-weight: 600;
	font-size: 0.9em;
}

.payment-form .products .total{
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	margin-top: 10px;
	padding-top: 19px;
	font-weight: 600;
	line-height: 1;
}

.payment-form .card-details{
	padding: 25px 25px 15px;
}

.payment-form .card-details label{
	font-size: 12px;
	font-weight: 600;
	margin-bottom: 15px;
	color: #79818a;
	text-transform: uppercase;
}

.payment-form .card-details button{
	margin-top: 0.6em;
	padding:12px 0;
	font-weight: 600;
}

.payment-form .date-separator{
 	margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
}

@media (min-width: 576px) {
	.payment-form .title {
		font-size: 1.2em; 
	}

	.payment-form .products {
		padding: 40px; 
  	}

	.payment-form .products .item-name {
		font-size: 1em; 
	}

	.payment-form .products .price {
    	font-size: 1em; 
	}

  	.payment-form .card-details {
    	padding: 40px 40px 30px; 
    }

  	.payment-form .card-details button {
    	margin-top: 2em; 
    } 
}
/*payment*/  

/*Table css*/
/*html {
  font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-size: 14px;
}
*/


.table {
  border: none;
}

.table-definition thead th:first-child {
  pointer-events: none;
  background: white;
  border: none;
}

.table td {
  vertical-align: middle;
}

.page-item > * {
  border: none;
}
.tab-pane{
  width: 252px;
  height: 200px;
  margin: 0 auto;
  margin-top: 15%;
}

.tab-pane img{

  max-height: 100%;
  max-width: 100%;
  padding:10px;
  object-fit: cover;
  
}

.custom-checkbox {
min-height: 1rem;
padding-left: 0;
margin-right: 0;
cursor: pointer; 
}
.custom-checkbox .custom-control-indicator {
  content: "";
  display: inline-block;
  position: relative;
  width: 30px;
  height: 10px;
  background-color: #818181;
  border-radius: 15px;
  margin-right: 10px;
  -webkit-transition: background .3s ease;
  transition: background .3s ease;
  vertical-align: middle;
  margin: 0 16px;
  box-shadow: none; 
}
  .custom-checkbox .custom-control-indicator:after {
    content: "";
    position: absolute;
    display: inline-block;
    width: 18px;
    height: 18px;
    background-color: #f1f1f1;
    border-radius: 21px;
    box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.4);
    left: -2px;
    top: -4px;
    -webkit-transition: left .3s ease, background .3s ease, box-shadow .1s ease;
    transition: left .3s ease, background .3s ease, box-shadow .1s ease; 
  }
.custom-checkbox .custom-control-input:checked ~ .custom-control-indicator {
  background-color: #84c7c1;
  background-image: none;
  box-shadow: none !important; 
}
  .custom-checkbox .custom-control-input:checked ~ .custom-control-indicator:after {
    background-color: #84c7c1;
    left: 15px; 
  }
.custom-checkbox .custom-control-input:focus ~ .custom-control-indicator {
  box-shadow: none !important; 
}
/*Table css*/


.preview {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }
  @media screen and (max-width: 996px) {
    .preview {
      margin-bottom: 20px; } }

.preview-pic {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
         }

.preview-thumbnail.nav-tabs {
  border: none;
  margin-top: 15px; }
  .preview-thumbnail.nav-tabs li {
    width: 18%;
    margin-right: 2.5%; }
    .preview-thumbnail.nav-tabs li img {
      max-width: 100%;
      display: block; }
    .preview-thumbnail.nav-tabs li a {
      padding: 0;
      margin: 0; }
    .preview-thumbnail.nav-tabs li:last-of-type {
      margin-right: 0; }

.tab-content {
  overflow: hidden;
  
 }

  .tab-content img {
    width: 100%;
    -webkit-animation-name: opacity;
            animation-name: opacity;
    -webkit-animation-duration: .3s;
            animation-duration: .3s; }

.ccard {
  margin-top: 50px;
  background: #FFFFFF;
  padding: 3em;
  line-height: 1.5em; }

@media screen and (min-width: 997px) {
  .wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; } }
.details {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

.colors {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

.product-title, .price, .sizes, .colors {
  text-transform: UPPERCASE;
  font-weight: bold; }

.checked, .price span {
  color: #ff9f1a; }

.product-title, .rating, .product-description, .price, .vote, .sizes {
  margin-bottom: 15px; }

.product-description{

  font-size:16px;

}

.product-title {
  margin-top: 0; }

.size {
  margin-right: 10px; }
  .size:first-of-type {
    margin-left: 40px; }

.color {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  height: 2em;
  width: 2em;
  border-radius: 2px; }
  .color:first-of-type {
    margin-left: 20px; }

.add-to-cart, .like {
  background: #ff9f1a;
  padding: 1.2em 1.5em;
  border: none;
  text-transform: UPPERCASE;
  font-weight: bold;
  color: #fff;
  -webkit-transition: background .3s ease;
          transition: background .3s ease; }
  .add-to-cart:hover, .like:hover {
    background: #b36800;
    color: #fff; }

.not-available {
  text-align: center;
  line-height: 2em; }
  .not-available:before {
    font-family: fontawesome;
    content: "\f00d";
    color: #fff; }

.orange {
  background: #ff9f1a; }

.green {
  background: #85ad00; }

.blue {
  background: #0076ad; }

.tooltip-inner {
  padding: 1.3em; }

@-webkit-keyframes opacity {
  0% {
    opacity: 0;
    -webkit-transform: scale(3);
            transform: scale(3); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1); } }

@keyframes opacity {
  0% {
    opacity: 0;
    -webkit-transform: scale(3);
            transform: scale(3); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1); } }

.disableButton{

  pointer-events: none;

}

.pb-cmnt-container {
  font-family: Lato;
  margin-top: 100px;
}

.pb-cmnt-textarea {
  resize: none;
  padding: 5px;
  height: 130px;
  width: 100%;
  border: 1px solid #F2F2F2;
}



/*
Sidebar
*/

#border li:hover{

  background-color:#eee;
  border-radius: 3rem; 
}


.sidebar
{
  margin: 0;
  padding: 0;
  width: 250px;
  position: fixed;
  height: 100%;
  overflow: auto;
  background: linear-gradient(rgba(249,107,142,1), rgba(218, 103,230,1), rgba(130, 125,254,1));
}

.mediaMargin{

  margin-left: 250px;
  padding: 1px 16px;
  
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
    padding-bottom: 5px;
  }
  .mediaMargin{margin-left: 0;}
}

.product figure:hover{

  border: 1px solid #1e90ff;

}

.table tbody tr:hover{

  cursor: pointer;

}
/*



Single Product 

*/

.colorlib-shop
{
  padding-bottom: 9em;
  clear: both;

}
.row-pb-lg {
  padding-bottom: 6em !important; 
}
.product-entry {
  margin-bottom: 40px; 
}
.product-entry .product-img {
    display: block;
    height: 350px;
    margin-bottom: 20px;
    position: relative;
}
.product-entry .desc h3 {
    font-size: 20px;
    text-transform: uppercase;
    font-size: 14px;
    margin-bottom: 10px; 
}
.product-entry .desc .price span {
    color: #FFC300;
    font-weight: 400; 
}
.product-detail-wrap .product-img {
    width: 252px;
    height: 200px;
    margin-bottom: 8px;
}
.product-img img{
  
  height: 100%;
  widows: 100%;

}
.product-detail-wrap .desc {
  display: block;
  padding-left: 2em;
}
.product-detail-wrap .desc h3 {
    text-transform: uppercase;
    font-size: 20px; 
}
.product-detail-wrap .desc .price {
    width: 100%;
}
.product-detail-wrap .desc .price span {
      width: 49%;
      display: inline-block;
      font-weight: 400;
      font-size: 18px;
      color: #000;
}

#addProduct{

  border: 1px solid #ddd;
  background-color: #FFFFFF;
}
#bekaar{

  min-height: 300px;
  color: white;

}
#addProduct .col-md-4{

  background-image: url('./images/back2.jpg');
  background-size: cover;

}


#addProduct .col-md-8{

  padding: 40px 30px;

}


#addProduct .btn-info{

  width: 170px;
  border-radius: 50px;
  height: 50px;
  font-size: 20px;

}